*{
    margin: 0%;
    padding: 0%;
    
}
 .container{
     width: 50%;
    margin: 0% 5px;
    background: #f2f2f2;
    padding: 20px;
    border-radius: none;
    height: 50vh;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 200px;
    text-align: center 

       
    
    }
.name{

    
    margin-bottom: 10px;
    border: none;
    padding: 10px 20px;
}
.password{
    

}
       



.pg{
    background-color: lightgreen;
    height: 80vh;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    


}
.submit{
    background-color: #4CAF50;
    /* color: white; */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    margin-top: 20px;
    cursor:pointer ;
    
    


}
#rec{
    color: silver


}
#creat{
    color: lightgreen;
}
